.single h2 {
  margin: 20px 0; }

h1, h2 {
  line-height: 1.1em !important; }

.articles, .comments {
  padding: 100px 0;
  border-bottom: solid 1px rgba(27, 29, 51, 0.4); }
  .articles:first-of-type, .comments:first-of-type {
    padding: 0 0 100px 0; }
  .articles:last-of-type, .comments:last-of-type {
    border: none; }
  .articles .published-date, .comments .published-date {
    display: block;
    font-size: 0.85em;
    margin-top: -5px;
    color: #d9e1e8; }
  .articles .more-link, .comments .more-link {
    font-family: "Helvetica Neue", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; }
  .articles .tags a, .comments .tags a {
    color: tomato; }

.active {
  color: #fff;
  border-bottom: 1px solid #fff; }

.commentlist {
  padding: 40px 0;
  border-bottom: 1px solid #212336; }
  .commentlist .comment {
    padding: 20px;
    background: #212636; }
