@import partials/single

$color0 : #fff
$color1 : tomato
$color2 : #d9e1e8
$color3 : #a8afc4
$color4 : #2b2d46
$font-main : 'Helvetica Neue', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif
$font-secondary : 'Droid Serif', serif

h1, h2
  line-height: (1.1em !important)

.articles, .comments
  padding: 100px 0 
  border-bottom: solid 1px rgba(27, 29, 51, 0.4)
  &:first-of-type
    padding: 0 0 100px 0
  &:last-of-type
    border: none
  .published-date
    display: block
    font-size: .85em
    margin-top: -5px
    color: $color2
  .more-link
    font-family: $font-main
  .tags
    a 
      color: $color1

.active
  color: $color0
  border-bottom: 1px solid $color0

.commentlist
  padding: 40px 0
  border-bottom: 1px solid darken($color4, 5%)
  .comment
    padding: 20px
    background: darken(adjust-hue( $color4, -10% ), 5%)
    